[submodule "phnt"]
	path = deps/phnt
	url = https://github.com/processhacker/phnt.git
[submodule "raw_pdb"]
	path = deps/raw_pdb
	url = https://github.com/MolecularMatters/raw_pdb.git
[submodule "kdmp-parser"]
	path = deps/kdmp-parser
	url = https://github.com/0vercl0k/kdmp-parser.git
